<div class="stores-container">
        <h1>NUESTRA TIENDA</h1>

        <div class="stores-content">
            <div class="stores-list">
                <div class="store-item active">
                    <p class="store-name">TIENDA ROSS MILLE Kennedy</p>
                    <p class="store-address">RM Kennedy. Santander, Bucaramanga</p>
                    <p class="store-info">INFORMACIÓN DE LA TIENDA</p>
                </div>
            </div>

            <div class="stores-image-container">
                <img src="/src/uploads/fashion-1.jpg" alt="Foto de H&M La Colina" class="store-photo">
            </div>
        </div>
    </div>