<div class="payments-container">
    <h1>PAGOS</h1>

    <p class="intro-text">¡Queremos que tu experiencia de compras sea sencilla y segura!</p>

        <div class="accordion-item">
            <div class="accordion-header">
                <span class="question">PAGO SEGURO Y TRANSPARENTE</span>
                <i class="fas fa-plus"></i>
            </div>
            <div class="accordion-content">
                <p>Solo pagarás cuando recibas tu pedido. Nuestro equipo te confirmará el valor exacto antes de la entrega, y podrás realizar el pago en efectivo o por transferencia. Queremos que te sientas segura/o al comprar con nosotros.</p>
                <p>Vale?</p>
            </div>
        </div>

    </div>
</div>