<main class="product-page-container">
    <div class="product-image-section">
        <img src="image_5de666.jpg" alt="TOP MAXI BEIGE" class="main-product-image">
    </div>

    <div class="product-details-section">
        <h1 class="product-title"></h1>
        <p class="descripcion"></p>
        <p class="product-price"></p>

        <div class="size-selection">
            <p class="size">Talla:</p>
            <div class="size-options">
                <p class="size-button active"></p>
            </div>
<!-- 
            <label for="size">Color:</label>
            <div class="size-options">
                <p class="size-button active-color"></p>
            </div> -->
        </div>

        <div class="quantity-selector-container">
            <div class="quantity-selector">
                <button class="quantity-button">-</button>
                <input type="text" class="quantity-display" value="1">
                <button class="quantity-button-">+</button>
            </div>
            <button class="add-to-cart-button">AÑADIR AL CARRITO</button>
        </div>

        <div class="product-meta">
            <p class="color"></p>
            <p class="Categoría"></p> 
            <p class="genero"></p></p>
        </div>

        <!-- <div class="share-options">

            <span>Share:</span>
            <a href="#" aria-label="Share on Facebook"><i class="fab fa-facebook-f social-icon"></i></a>
            <a href="#" aria-label="Share on X (Twitter)"><i class="fab fa-x-twitter social-icon"></i></a>
            <a href="#" aria-label="Share on LinkedIn"><i class="fab fa-linkedin-in social-icon"></i></a>
        </div> -->
    </div>
</main>