<h1>SERVICIO AL CLIENTE</h1>
        <p class="section-title">TEMAS DE INTERÉS</p>
        <div class="grid-container">
            <a href="#envios" class="grid-item">
                <i class="fas fa-folder"></i>
                <span>ENVÍOS</span>
            </a>
            <a href="#pagos" class="grid-item">
                <i class="fas fa-credit-card"></i>
                <span>PAGOS</span>
            </a>
            <a href="#devoluciones" class="grid-item">
                <i class="fas fa-sync-alt"></i>
                <span>DEVOLUCIONES</span>
            </a>
            <a href="#contactanos" class="grid-item">
                <i class="fas fa-phone"></i>
                <span>CONTÁCTANOS</span>
            </a>
            <a href="#tienda" class="grid-item">
                <i class="fas fa-store"></i>
                <span>TIENDA</span>
            </a>
        </div>
    </div>