:root {
    --color-green: #41634C;
    --color-beige: #FFEBB6;
    --color-blue: #6366f1;
    --color-otros: #9ca3af;
    --color-fondo: #ffffff;
    --color-sombras: rgb(58, 101, 82);
}


.shipping-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: var(--color-green);
    text-transform: uppercase;
}

.accordion {
    border-top: 1px solid #ddd; /* Top border for the whole accordion */
}

.accordion-item {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 0; /* No margin between items if using border-bottom */
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: #f5f5f5;
}

.accordion-header .question {
    font-size: 1em;
    /* font-weight: bold; */
    color: black; /* Default question color */
    transition: color 0.3s ease;
}

.accordion-header i {
    font-size: 1.2em;
    color: var(--color-green); /* Default icon color */
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Styles when the accordion item is active (open) */
.accordion-item.active .accordion-header .question {
    color: #e00; /* Red color for active question */
}

.accordion-item.active .accordion-header i {
    transform: rotate(180deg); /* Rotate icon when active */
    color: #e00; /* Red color for active icon */
}

.accordion-content {
    padding: 0 20px;
    max-height: 0; /* Initially hidden */
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out; /* Smooth slide effect */
    background-color: #fff;
}

.accordion-item.active .accordion-content {
    padding: 20px;
}

.accordion-content p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #555;
    /* white-space: pre-wrap; */
}

.accordion-content p:last-child {
    margin-bottom: 0; /* No bottom margin for the last paragraph */
}

.accordion-content a {
    color: #007bff; /* Link color */
    text-decoration: none;
}

.accordion-content a:hover {
    text-decoration: underline;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .accordion-header {
        padding: 15px;
    }

    .accordion-header .question {
        font-size: 1em;
    }

    .accordion-header i {
        font-size: 1em;
    }

    .accordion-content {
        padding: 0 15px;
    }
    .accordion-item.active .accordion-content {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    .accordion-header {
        padding: 10px;
    }

    .accordion-header .question {
        font-size: 0.9em;
    }
}