<div class="contenedor_principal">
    <aside class="barra_lateral">
        <div class="info_usuario">
            <div class="avatar_usuario"></div>
            <p class="saludo_usuario">Hola!</p>
        </div>
        <nav class="navegacion_principal">
            <ul>
                <li><a href="#perfil" class="activo">Perfil</a></li>
                <li><a href="#calle">Dirección</a></li>
                <li><a href="#pedido">Pedidos</a></li>
                <li><a href="#autenticacion">Autenticación</a></li>
            </ul>
        </nav>
    </aside>
    <main class="contenido_principal">
        <h1>Perfil</h1>
        <div class="tarjeta tarjeta_perfil">
            <div class="campo campo_perfil">
                <label>Nombre</label>
                <span id="nombre_cuenta"></span>
            </div>
            <div class="campo campo_perfil">
                <label>Apellido</label>
                <span id="apellido_cuenta"></span>
            </div>
            <div class="campo campo_perfil">
                <label>Email</label>
                <span id="email_cuenta"></span>
            </div>
            <div class="campo campo_perfil">
                <label>Número de Identificación</label>
                <span id="cedula_cuenta"></span>
            </div>
            <div class="campo campo_perfil">
                <label>Teléfono</label>
                <span id="telefono_cuenta"></span>
            </div>

            <div></div>
            <button class="btn-base btn-secondary boton_editar" id="editarPerfilBtn">EDITAR</button>
        </div>
    </main>
</div>