<div class="contenedor_principal">
    <aside class="barra_lateral">
        <div class="info_usuario">
            <div class="avatar_usuario"></div>
            <p class="saludo_usuario">Hola!</p>
        </div>
        <nav class="navegacion_principal">
            <ul>
                <li><a href="#perfil">Perfil</a></li>
                <li><a href="#calle" class="activo">Dirección</a></li>
                <li><a href="#pedido">Pedidos</a></li>
                <li><a href="#autenticacion">Autenticación</a></li>
            </ul>
        </nav>
    </aside>
    <!-- LADO DERECHO: CONTENIDO -->
    <main class="contenido_principal">
        <div class="encabezado_calle">
            <h1>Dirección</h1>
            <div class="acciones_calle">
                <button class="btn-base btn-primary boton_anadir_calle" id="btn_anadir_calle">VALIDAR DIRECCIÓN</button>
            </div>
        </div>

        <div id="contenedor_direcciones">
            <div class="mensaje_sin_direcciones" id="mensaje_sin_direcciones">
            </div>
        </div>
    </main>
</div>