<div class="contact-container">
        <h1>NOS ENCANTARÍA ESCUCHARTE</h1>

        <div class="contact-section">
            <p class="section-heading">PARA COMPRAS ONLINE</p>
            <p class="section-paragraph">Nuestro equipo de servicio al cliente podrá responder tu consulta de lunes a sabdo de 9:00 AM a 8:00 PM.</p>
            <p class="section-paragraph">Contactanos completando el formulario de atención <a href="https://wa.link/xxduv0">aquí</a> o a través de nuestro chat de WhatsApp.</p>
            <p class="section-paragraph">Si lo deseas también puedes hacerlo por llamada (+57) 310 5287003 de lunes a viernes de 09:00 a 19:00 horas.</p>
            <p class="section-paragraph">Para ayudarnos a agilizar tu respuesta, por favor mantén tu consulta a través de uno de nuestros canales y evita hacerlo a través de varios de ellos.</p>
            <p class="section-paragraph">Te garantizamos que recibirás una respuesta lo antes posible.</p>
        </div>

        <div class="contact-section">
            <p class="section-heading">PARA COMPRAS EN TIENDA FÍSICA</p>
            <p class="section-paragraph">Mándanos un mensaje dando clic <a href="https://wa.link/troii3">aquí</a> o llámanos al (+57) 310 5287003 de lunes a viernes de 9:00 AM a 7:00 PM y sábado y domingo de 9:00 AM a 8:00 PM.</p>
        </div>
    </div>